<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

		<style>
		.card {
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
			transition: 0.3s;
		}

		.card:hover {
			box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
		}
		</style>

		<title>Data dump reader</title>
	</head>
<body>

	<div>
		<h1>Full report on $TARGET_USER</h1>
	</div>

	<ul class="nav nav-tabs" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" data-toggle="tab" href="#messages">Messages</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="tab" href="#photos">Photos</a>
		</li>
	</ul>

	<div class="tab-content">
		<div class="tab-pane container-fluid active" id="messages">
			<div class="row">
				<div class="col-2">
					<div class="nav flex-column nav-pills" id="user-select" role="tablist" aria-orientation="vertical">
						$USER_LIST
					</div>
				</div>
				<div class="col">
					<div class="tab-content" id="user-selectContent">
						$USER_CONVERSATIONS
					</div>
				</div>
			</div>
		</div>

		<div class="tab-pane container-fluid fade" id="photos">
			<div class="row">
				$PHOTO_LIST
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>